@font-face {
  font-family: 'NationalBold';
  src: url("../fonts/NationalBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NationalBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NationalBold.woff2") format("woff2"), url("../fonts/NationalBold.woff") format("woff"), url("../fonts/NationalBold.ttf") format("truetype"), url("../fonts/NationalBold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'NationalMedium';
  src: url("../fonts/NationalMedium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NationalMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/NationalMedium.woff2") format("woff2"), url("../fonts/NationalMedium.woff") format("woff"), url("../fonts/NationalMedium.ttf") format("truetype"), url("../fonts/NationalMedium.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'NationalRegular';
  src: url("../fonts/NationalRegular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NationalRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NationalRegular.woff2") format("woff2"), url("../fonts/NationalRegular.woff") format("woff"), url("../fonts/NationalRegular.ttf") format("truetype"), url("../fonts/NationalRegular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'NationalBook';
  src: url("../fonts/NationalBook.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NationalBook.eot?#iefix") format("embedded-opentype"), url("../fonts/NationalBook.woff2") format("woff2"), url("../fonts/NationalBook.woff") format("woff"), url("../fonts/NationalBook.ttf") format("truetype"), url("../fonts/NationalBook.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

body {
  background: #e9ebee;
  font-family: NationalMedium; }

pre {
  margin: 15px 0 30px; }

.p--default .btn .fa {
  font-weight: bold; }
  .p--default .btn .fa.left {
    margin-right: 10px; }
  .p--default .btn .fa.right {
    margin-left: 10px; }

.p--default .btn-primary {
  background-color: #0592d0;
  border-color: #0592d0;
  font-size: 18px;
  min-width: 105px;
  padding: 8px 12px;
  text-transform: uppercase; }

.p--default .btn-group .btn {
  font-size: 16px;
  text-transform: uppercase; }
  .p--default .btn-group .btn.active {
    background: #0592d0;
    border-color: #0592d0;
    box-shadow: none;
    color: #fff; }

.p--default .c-card {
  position: relative; }
  .p--default .c-card__heading {
    color: #0592d0;
    font-family: 'NationalRegular';
    font-size: 20px;
    margin-bottom: 0; }
  .p--default .c-card__heading--dark {
    color: #3c3f41;
    font-family: 'NationalBold';
    font-size: 15px;
    margin-top: 0;
    text-transform: uppercase; }
  .p--default .c-card__sub-heading {
    color: #a8a8a8;
    font-family: 'NationalBook';
    font-size: 16px; }
  .p--default .c-card__body {
    color: #4e4e4e;
    font-family: 'NationalBook';
    font-size: 16px; }
  .p--default .c-card__comment {
    border-top: 1px solid #e9ebee;
    font-family: 'NationalBook';
    font-size: 16px;
    margin-top: 12px;
    padding-top: 12px; }
    .p--default .c-card__comment > .btn {
      color: #4e4e4e;
      padding: 0; }
      .p--default .c-card__comment > .btn i {
        color: #959595; }
  .p--default .c-card__time {
    color: #a8a8a8;
    font-family: 'NationalRegular';
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px; }
  .p--default .c-card textarea {
    background: #f2f2f2;
    border: 1px solid #d6dbe1;
    margin-bottom: 15px;
    resize: none;
    text-transform: uppercase; }

.p--default .statistic {
  background: #c6e5f4;
  border-radius: 8px;
  margin-bottom: 15px;
  max-width: 150px;
  min-height: 100px;
  padding: 0 15px 15px;
  position: relative; }
  .p--default .statistic__heading {
    display: block;
    font-family: 'NationalBold';
    font-size: 36px;
    line-height: 36px;
    padding-top: 7px;
    text-transform: uppercase; }
  .p--default .statistic__description {
    bottom: 15px;
    left: 15px;
    line-height: 1;
    position: absolute;
    text-transform: uppercase; }

.p--default .nav-tabs {
  border: 0; }

.p--default .nav-tabs > li > a {
  background: #959595;
  border: 0;
  color: #3c3f41;
  font-size: 18px;
  margin-right: 10px;
  padding: 8px 20px 7px;
  text-transform: uppercase; }
  .p--default .nav-tabs > li > a:hover, .p--default .nav-tabs > li > a:focus {
    border: 0; }
  @media only screen and (min-width: 600px) {
    .p--default .nav-tabs > li > a {
      min-width: 160px; } }

.p--default .nav-tabs > li.active > a {
  background: #fff; }

.p--default .nav-tabs > li.no-bg > a {
  background: none;
  color: #0592d0; }

.p--default .tab-content {
  background: #fff;
  padding: 10px; }
