@font-face {
  font-family: 'NationalBold';
  src: url("../fonts/NationalBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NationalBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NationalBold.woff2") format("woff2"), url("../fonts/NationalBold.woff") format("woff"), url("../fonts/NationalBold.ttf") format("truetype"), url("../fonts/NationalBold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'NationalMedium';
  src: url("../fonts/NationalMedium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NationalMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/NationalMedium.woff2") format("woff2"), url("../fonts/NationalMedium.woff") format("woff"), url("../fonts/NationalMedium.ttf") format("truetype"), url("../fonts/NationalMedium.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'NationalRegular';
  src: url("../fonts/NationalRegular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NationalRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NationalRegular.woff2") format("woff2"), url("../fonts/NationalRegular.woff") format("woff"), url("../fonts/NationalRegular.ttf") format("truetype"), url("../fonts/NationalRegular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'NationalBook';
  src: url("../fonts/NationalBook.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NationalBook.eot?#iefix") format("embedded-opentype"), url("../fonts/NationalBook.woff2") format("woff2"), url("../fonts/NationalBook.woff") format("woff"), url("../fonts/NationalBook.ttf") format("truetype"), url("../fonts/NationalBook.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

body {
  background: #e9ebee;
  font-family: NationalMedium; }

pre {
  margin: 15px 0 30px; }

.checkbox {
  padding-left: 20px; }

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px; }

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555; }

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1; }

.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c"; }

.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px; }

.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65; }

.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; }

.checkbox.checkbox-circle label::before {
  border-radius: 50%; }

.checkbox.checkbox-inline {
  margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7; }

.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }

.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }

.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }

.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }

.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #337ab7;
  border-color: #337ab7; }

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff; }

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff; }

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff; }

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff; }

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
  background-color: #fff; }

.radio {
  padding-left: 20px; }

.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px; }

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out; }

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }

.radio input[type="radio"] {
  opacity: 0;
  z-index: 1; }

.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }

.radio input[type="radio"]:disabled + label {
  opacity: 0.65; }

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed; }

.radio.radio-inline {
  margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7; }

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7; }

.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }

.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }

.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }

.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }

.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c"; }

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff; }

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff; }

.p--default {
  max-width: 1000px; }
  .p--default .c-branding {
    max-width: 100%; }
  .p--default .btn .fa {
    font-weight: bold; }
    .p--default .btn .fa.left {
      margin-right: 10px; }
    .p--default .btn .fa.right {
      margin-left: 10px; }
  .p--default .btn-primary {
    background-color: #0592d0;
    border-color: #0592d0;
    font-size: 18px;
    min-width: 105px;
    padding: 8px 12px;
    text-transform: uppercase; }
  .p--default .btn-group {
    margin: 20px 0; }
    .p--default .btn-group .btn {
      font-size: 16px;
      text-transform: uppercase; }
      .p--default .btn-group .btn.active {
        background: #0592d0;
        border-color: #0592d0;
        box-shadow: none;
        color: #fff; }
  @media only screen and (max-width: 599px) {
    .p--default .btn-group-container {
      overflow-x: auto; } }
  @media only screen and (max-width: 599px) {
    .p--default .btn-group-container .btn-group {
      min-width: 550px; } }
  .p--default .c-card {
    position: relative; }
    .p--default .c-card__heading {
      color: #0592d0;
      font-family: 'NationalRegular';
      font-size: 20px;
      margin-bottom: 0; }
    .p--default .c-card__heading--dark {
      color: #3c3f41;
      font-family: 'NationalBold';
      font-size: 15px;
      margin-top: 0;
      text-transform: uppercase; }
    .p--default .c-card__heading--large {
      font-size: 30px; }
    .p--default .c-card__sub-heading {
      color: #a8a8a8;
      font-family: 'NationalBook';
      font-size: 16px; }
    .p--default .c-card__body {
      color: #4e4e4e;
      font-family: 'NationalBook';
      font-size: 16px; }
    .p--default .c-card__comment {
      border-top: 1px solid #e9ebee;
      font-family: 'NationalBook';
      font-size: 16px;
      margin-top: 12px;
      padding-top: 12px; }
      .p--default .c-card__comment > .btn {
        color: #4e4e4e;
        padding: 0; }
        .p--default .c-card__comment > .btn i {
          color: #959595; }
      .p--default .c-card__comment > span {
        color: #959595; }
    .p--default .c-card__comments-item {
      background: #f2f2f2;
      border-bottom: 1px solid #d6dbe1;
      font-family: 'NationalBook';
      padding: 10px;
      position: relative; }
      .p--default .c-card__comments-item:last-child {
        border-bottom: 0; }
      .p--default .c-card__comments-item .c-card__detail {
        font-size: 14px; }
      .p--default .c-card__comments-item p {
        padding-right: 20px; }
      .p--default .c-card__comments-item a {
        color: #0592d0;
        font-family: 'NationalRegular'; }
    .p--default .c-card__add-comment {
      background: #e3e3e3;
      padding: 10px; }
    .p--default .c-card__detail {
      color: #a8a8a8;
      font-family: 'NationalRegular';
      font-size: 20px;
      position: absolute;
      right: 15px;
      top: 10px; }
    .p--default .c-card__more-info {
      color: #959595;
      font-size: 22px;
      margin: 10px 10px 0; }
    .p--default .c-card textarea {
      background: #f2f2f2;
      border: 1px solid #d6dbe1;
      margin-bottom: 15px;
      resize: none;
      text-transform: uppercase; }
    .p--default .c-card input {
      height: 43px;
      text-transform: uppercase; }
  @media only screen and (min-width: 600px) and (max-width: 999px) {
    .p--default .c-card--wide .col-md-6,
    .p--default .c-card--wide .col-md-4,
    .p--default .c-card--wide .col-md-2 {
      float: left; }
    .p--default .c-card--wide .col-md-6 {
      width: 50%; }
    .p--default .c-card--wide .col-md-4 {
      width: 25%; }
    .p--default .c-card--wide .col-md-2 {
      width: 25%; } }
  @media only screen and (min-width: 600px) {
    .p--default .c-card--wide .row {
      display: flex; } }
  .p--default .c-card--wide .row > div:nth-child(2) {
    overflow: hidden; }
    @media only screen and (min-width: 600px) {
      .p--default .c-card--wide .row > div:nth-child(2) {
        border-left: 2px solid #e3e3e3;
        border-right: 2px solid #e3e3e3; } }
  @media only screen and (min-width: 600px) and (max-width: 999px) {
    .p--default .c-card--wide .row > div:nth-child(3) {
      display: flex; } }
  .p--default .c-card--wide .row > div:nth-child(3) > div {
    float: left;
    width: 50%; }
    @media only screen and (min-width: 600px) and (max-width: 999px) {
      .p--default .c-card--wide .row > div:nth-child(3) > div:nth-child(1) {
        border-right: 2px solid #e3e3e3;
        padding-right: 15px; } }
    @media only screen and (min-width: 1000px) {
      .p--default .c-card--wide .row > div:nth-child(3) > div:nth-child(1) {
        display: none; } }
    .p--default .c-card--wide .row > div:nth-child(3) > div .c-card__social {
      color: #0592d0;
      display: block;
      font-size: 20px;
      margin: 5px 0 15px;
      text-align: center; }
      .p--default .c-card--wide .row > div:nth-child(3) > div .c-card__social i {
        color: #959595; }
      @media only screen and (max-width: 599px) {
        .p--default .c-card--wide .row > div:nth-child(3) > div .c-card__social {
          float: left;
          width: 40%; } }
    @media only screen and (max-width: 999px) {
      .p--default .c-card--wide .row > div:nth-child(3) > div .btn-primary {
        min-width: 0;
        padding: 8px; }
        .p--default .c-card--wide .row > div:nth-child(3) > div .btn-primary i {
          display: none; } }
  @media only screen and (min-width: 600px) {
    .p--default .c-card--wide .row .btn-primary {
      bottom: 0;
      position: absolute;
      right: 15px; } }
  .p--default .c-card--wide .tags {
    margin-top: 10px;
    max-width: 100%; }
    @media only screen and (min-width: 600px) and (max-width: 999px) {
      .p--default .c-card--wide .tags li {
        margin-right: 0; } }
  .p--default .c-card--wide .c-card__detail {
    top: 0; }
    @media only screen and (max-width: 599px) {
      .p--default .c-card--wide .c-card__detail {
        float: right;
        margin-right: 15px;
        position: static; } }
  .p--default .chart {
    max-width: 320px; }
    .p--default .chart__item {
      margin-bottom: 5px;
      overflow: hidden; }
    .p--default .chart__item-bar, .p--default .chart__item-label {
      width: 50%; }
    .p--default .chart__item-bar {
      float: left; }
    .p--default .chart__item-bar-inner {
      color: #0592d0;
      display: inline-block;
      background: #c6e5f4;
      font-size: 16px;
      float: right;
      height: 30px;
      line-height: 30px;
      padding-right: 10px;
      text-align: right; }
    .p--default .chart__item-label {
      line-height: 1;
      padding-left: 10px;
      padding-top: 8px;
      text-transform: uppercase; }
    .p--default .chart__item-label {
      float: right; }
    .p--default .chart__heading {
      font-size: 16px;
      margin: 3px 0;
      text-transform: uppercase; }
    .p--default .chart__link {
      color: #173652;
      display: block;
      margin-right: 50%;
      text-align: right;
      text-transform: uppercase; }
  .p--default .c-filter-box {
    background: #163551;
    color: #fff;
    overflow: hidden;
    padding: 5px;
    position: relative; }
    @media only screen and (min-width: 1000px) {
      .p--default .c-filter-box {
        padding: 12px 20px; } }
    .p--default .c-filter-box__heading {
      color: #fff;
      font-size: 18px;
      margin: 5px 0 10px;
      text-transform: uppercase; }
    .p--default .c-filter-box__top {
      overflow: hidden; }
      .p--default .c-filter-box__top .btn {
        color: #0592d0;
        text-transform: uppercase; }
      @media only screen and (min-width: 1000px) {
        .p--default .c-filter-box__top {
          width: 33.333%; } }
    @media only screen and (min-width: 1000px) {
      .p--default .c-filter-box__filters {
        display: none; } }
    .p--default .c-filter-box__desktop-filters {
      display: none; }
      @media only screen and (min-width: 1000px) {
        .p--default .c-filter-box__desktop-filters {
          display: block;
          margin-top: 20px; } }
    .p--default .c-filter-box__desktop-tags {
      display: none;
      position: absolute;
      right: 0;
      top: 12px;
      width: 65%; }
      @media only screen and (min-width: 1000px) {
        .p--default .c-filter-box__desktop-tags {
          display: block; } }
      .p--default .c-filter-box__desktop-tags .btn-group {
        margin-top: 0; }
    .p--default .c-filter-box .panel {
      background: none;
      border: 0;
      border-radius: 0;
      color: #fff; }
    .p--default .c-filter-box .panel-group {
      border-top: 1px solid #fff;
      margin: 10px 0; }
    .p--default .c-filter-box .panel-default > .panel-heading {
      background: none;
      border: 0;
      border-bottom: 1px solid #fff;
      border-radius: 0;
      color: #fff;
      padding: 10px 0;
      text-transform: uppercase; }
      .p--default .c-filter-box .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top: 0;
        padding: 0; }
    .p--default .c-filter-box .panel-group .panel + .panel {
      margin-top: 0; }
    .p--default .c-filter-box label {
      font-family: 'NationalBook';
      font-size: 18px;
      line-height: 18px; }
    .p--default .c-filter-box .checkbox label::after {
      color: #18bf6d; }
    @media only screen and (min-width: 1000px) {
      .p--default .c-filter-box .input-group {
        width: 33.333%; } }
    .p--default .c-filter-box .input-group-addon {
      background: #fff;
      color: #b5b5b5; }
    .p--default .c-filter-box .form-control {
      border: 0;
      color: #b5b5b5;
      text-transform: uppercase; }
  .p--default .statistic {
    background: #c6e5f4;
    border-radius: 8px;
    margin-bottom: 15px;
    max-width: 150px;
    min-height: 100px;
    padding: 0 15px 15px;
    position: relative; }
    @media only screen and (max-width: 999px) {
      .p--default .statistic {
        display: inline-block;
        margin-right: 5px; } }
    .p--default .statistic__heading {
      display: block;
      font-family: 'NationalBold';
      font-size: 36px;
      line-height: 36px;
      padding-top: 7px;
      text-transform: uppercase; }
    .p--default .statistic__description {
      bottom: 15px;
      left: 15px;
      line-height: 1;
      position: absolute;
      text-transform: uppercase; }
  .p--default .c-tabs {
    margin-top: 20px; }
  .p--default .nav-tabs {
    border: 0; }
  .p--default .nav-tabs > li > a {
    background: #959595;
    border: 0;
    color: #3c3f41;
    font-size: 18px;
    margin-right: 10px;
    padding: 8px 20px 7px;
    text-transform: uppercase; }
    .p--default .nav-tabs > li > a:hover, .p--default .nav-tabs > li > a:focus {
      border: 0; }
    @media only screen and (min-width: 600px) {
      .p--default .nav-tabs > li > a {
        min-width: 140px; } }
  .p--default .nav-tabs > li.active > a {
    background: #fff; }
  .p--default .nav-tabs > li.no-bg > a {
    background: none;
    color: #0592d0; }
  .p--default .tab-content {
    background: #fff;
    padding: 10px; }
  .p--default .tags {
    font-family: 'NationalBook';
    list-style: none;
    padding: 0; }
    @media only screen and (min-width: 600px) {
      .p--default .tags {
        max-width: 70%; } }
    .p--default .tags li {
      border-right: 1px solid #959595;
      float: left;
      line-height: 1;
      margin-bottom: 5px;
      margin-right: 15px;
      padding: 0 15px 0 0; }
      .p--default .tags li:first-child {
        padding-left: 0; }
      .p--default .tags li:last-child {
        border-right: 0;
        padding-right: 0; }
      .p--default .tags li a {
        color: #0592d0;
        text-transform: uppercase; }
  .p--default .tooltip-inner {
    background: #163551;
    border-radius: 0;
    font-family: 'NationalRegular';
    font-size: 16px;
    max-width: 280px;
    padding: 8px; }
  .p--default .tooltip.top .tooltip-arrow {
    border-top-color: #163551; }
  .p--default .tooltip.in {
    opacity: 1; }
