// Colors
$blue-primary: #0592d0;
$blue-light: #c6e5f4;

$grey-darkest: #3c3f41;
$grey-darker: #4e4e4e;
$grey-dark: #959595;
$grey-medium: #e9ebee;
$grey-light: #a8a8a8;



$white: #fff;



// Breakpoints
$bp-mobile: 320px;
$bp-tablet: 600px;
$bp-desktop: 1000px;

$bps: (
  'mobile': $bp-mobile,
  'tablet': $bp-tablet,
  'desktop': $bp-desktop
);
