// Colors
$blue-primary: #0592d0;

$grey-darker: #3c3f41;
$grey-dark: #959595;
$grey-medium: #e9ebee;

$white: #fff;



// Breakpoints
$bp-mobile: 320px;
$bp-tablet: 600px;
$bp-desktop: 1000px;

$bps: (
  'mobile': $bp-mobile,
  'tablet': $bp-tablet,
  'desktop': $bp-desktop
);
