.btn {
  .fa {
    font-weight: bold;

    &.left {
      margin-right: 10px;
    }

    &.right {
      margin-left: 10px;
    }
  }
}

.btn-primary {
  background-color: $blue-primary;
  border-color: $blue-primary;
  font-size: 18px;
  min-width: 105px;
  padding: 8px 12px;
  text-transform: uppercase;
}

.btn-group {
  margin: 20px 0;

  &.btn-group--no-spacing {
    margin: 0;
  }

  .btn {
    font-size: 16px;
    text-transform: uppercase;

    &.active {
      background: $blue-primary;
      border-color: $blue-primary;
      box-shadow: none;
      color: $white;
    }
  }
}

.btn-group-container {
  @include upto(tablet) {
    overflow-x: auto;
  }

  > .btn-group-label {
    font-family: 'NationalMedium';
    padding-right: 10px;
    text-transform: uppercase;
  }

  .btn-group {
    @include upto(tablet) {
      min-width: 550px;
    }
  }
}

.btn-settings {
  padding: 10px 0;
  text-align: right;

  .btn {
    font-family: 'NationalMedium';
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
