.c-card {
  position: relative;

  &__heading {
    color: $blue-primary;
    font-family: 'NationalRegular';
    font-size: 20px;
    margin-bottom: 0;
  }

  &__heading--dark {
    color: $grey-darkest;
    font-family: 'NationalBold';
    font-size: 15px;
    margin-top: 0;
    text-transform: uppercase;
  }

  &__heading--large {
    font-size: 30px;
  }

  &__sub-heading {
    color: $grey-light;
    font-family: 'NationalBook';
    font-size: 16px;
  }

  &__body {
    color: $grey-darker;
    font-family: 'NationalBook';
    font-size: 16px;
  }

  &__comment {
    border-top: 1px solid $grey-medium;
    font-family: 'NationalBook';
    font-size: 16px;
    margin-top: 12px;
    padding-top: 12px;

    > .btn {
      color: $grey-darker;
      padding: 0;

      i {
        color: $grey-dark;
      }
    }

    > span {
      color: $grey-dark;
    }
  }

  &__comments-item {
    background: #f2f2f2;
    border-bottom: 1px solid #d6dbe1;
    font-family: 'NationalBook';
    padding: 10px;
    position: relative;

    &:last-child {
      border-bottom: 0;
    }

    .c-card__detail {
      font-size: 14px;
    }

    p {
      padding-right: 20px;
    }

    a {
      color: $blue-primary;
      font-family: 'NationalRegular';
    }
  }

  &__add-comment {
    background: #e3e3e3;
    padding: 10px;
  }

  &__detail {
    color: $grey-light;
    font-family: 'NationalRegular';
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
  }

  &__more-info {
    color: $grey-dark;
    font-size: 22px;
    margin: 10px 10px 0;
  }

  textarea {
    background: #f2f2f2;
    border: 1px solid #d6dbe1;
    margin-bottom: 15px;
    resize: none;
    text-transform: uppercase;
  }

  input {
    height: 43px;
    text-transform: uppercase;
  }
}

.c-card--wide {
  @include between(tablet, desktop) {
    .col-md-6,
    .col-md-4,
    .col-md-2 {
      float: left;
    }

    .col-md-6 {
      width: 50%;
    }

    .col-md-4 {
      width: 25%;
    }

    .col-md-2 {
      width: 25%;
    }
  }

  .row {
    @include from(tablet) {
      display: flex;
    }

    > div:nth-child(2) {
      overflow: hidden;

      @include from(tablet) {
        border-left: 2px solid #e3e3e3;
        border-right: 2px solid #e3e3e3;
      }
    }

    > div:nth-child(3) {
      @include between(tablet, desktop) {
        display: flex;
      }

      > div {
        float: left;
        width: 50%;

        &:nth-child(1) {
          @include between(tablet, desktop) {
            border-right: 2px solid #e3e3e3;
            padding-right: 15px;
          }

          @include from(desktop) {
            display: none;
          }
        }

        .c-card__social {
          color: $blue-primary;
          display: block;
          font-size: 20px;
          margin: 5px 0 15px;
          text-align: center;

          i {
            color: $grey-dark;
          }

          @include upto(tablet) {
            float: left;
            width: 40%;
          }
        }

        @include upto(desktop) {
          .btn-primary {
            min-width: 0;
            padding: 8px;

            i {
              display: none;
            }
          }
        }
      }
    }

    .btn-primary {
      @include from(tablet) {
        bottom: 0;
        position: absolute;
        right: 15px;
      }
    }
  }

  .tags {
    margin-top: 10px;
    max-width: 100%;

    li {
      @include between(tablet, desktop) {
        margin-right: 0;
      }
    }
  }

  .c-card__detail {
    top: 0;

    @include upto(tablet) {
      float: right;
      margin-right: 15px;
      position: static;
    }
  }
}
