.chart {
  max-width: 320px;

  &__item {
    margin-bottom: 5px;
    overflow: hidden;
  }

  &__item-bar,
  &__item-label {
    width: 50%;
  }

  &__item-bar {
    float: left;
  }

  &__item-bar-inner {
    color: $blue-primary;
    display: inline-block;
    background: $blue-light;
    font-size: 16px;
    float: right;
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
    text-align: right;
  }

  &__item-label {
    line-height: 1;
    padding-left: 10px;
    padding-top: 8px;
    text-transform: uppercase;
  }

  &__item-label {
    float: right;
  }

  &__heading {
    font-size: 16px;
    margin: 3px 0;
    text-transform: uppercase;
  }

  &__link {
    color: #173652;
    display: block;
    margin-right: 50%;
    text-align: right;
    text-transform: uppercase;
  }

}
