.statistic {
  background: $blue-light;
  border-radius: 8px;
  margin-bottom: 15px;
  max-width: 150px;
  min-height: 100px;
  padding: 0 15px 15px;
  position: relative;

  @include upto(desktop) {
    display: inline-block;
    margin-right: 5px;
  }

  &__heading {
    display: block;
    font-family: 'NationalBold';
    font-size: 36px;
    line-height: 36px;
    padding-top: 7px;
    text-transform: uppercase;
  }

  &__description {
    bottom: 15px;
    left: 15px;
    line-height: 1;
    position: absolute;
    text-transform: uppercase;
  }
}
