.c-tabs {
  margin-top: 20px;
}

.nav-tabs {
  border: 0;
}

.nav-tabs > li {
  > a {
    background: $grey-dark;
    border: 0;
    color: $grey-darkest;
    font-size: 18px;
    margin-right: 10px;
    padding: 8px 20px 7px;
    text-transform: uppercase;

    &:hover,
    &:focus {
       border: 0;
    }

    @include from(tablet) {
      min-width: 140px;
    }
  }

  &.active {
    > a {
      background: $white;
    }
  }

  &.no-bg {
    > a {
      background: none;
      color: $blue-primary;
    }
  }
}

.tab-content {
  background: $white;
  padding: 10px;
}
